interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.21.0 habanero/0.6.2.2]
    method: GET
    uri: https://api.crossref.org/works?filter=has-full-text%3Atrue&rows=1
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":71397604,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:38:52Z","timestamp":1523583532754},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Geologiska
        F\u00f6reningen i Stockholm F\u00f6rhandlingar"],"published-print":{"date-parts":[[1875,5,5]]},"DOI":"10.1080\/11035897509448098","type":"journal-article","created":{"date-parts":[[2010,1,7]],"date-time":"2010-01-07T20:03:24Z","timestamp":1262894604000},"page":"501-506","source":"Crossref","is-referenced-by-count":0,"title":["Geologiska
        notiser fr\u00e5n en resa i Norra Ryssland, sommaren 1874"],"prefix":"10.1080","volume":"2","author":[{"given":"Gust","family":"Nauckhoff","sequence":"first","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2010,1,6]]},"container-title":["Geologiska
        F\u00f6reningen i Stockholm F\u00f6rhandlingar"],"language":"en","link":[{"URL":"https:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/11035897509448098","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,10,12]],"date-time":"2017-10-12T12:47:30Z","timestamp":1507812450000},"score":1.0,"issued":{"date-parts":[[1875,5,5]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2010,1,6]]},"published-print":{"date-parts":[[1875,5,5]]},"issue":"12"},"alternative-id":["10.1080\/11035897509448098"],"URL":"http:\/\/dx.doi.org\/10.1080\/11035897509448098","ISSN":["0016-786X"],"issn-type":[{"value":"0016-786X","type":"print"}]}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
